@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media (width >= 1024px) {
  .hero .hero-info {
    display: flex;
    flex-direction: row !important;
  }
  .hero .hero-button {
    display: block !important;
  }
  .hero .hero-button .tratamento-btn {
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    color: hsl(220, 13%, 95%);
    width: 40dvh;
    height: 8dvh;
    border: none;
    border-radius: 1dvh;
    transition: transform 0.9s;
    margin-right: 2dvh;
  }
  .hero .hero-button .tratamento-btn:hover {
    transform: scale(1.1);
  }
  .hero .hero-button .consulta-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(142, 71%, 45%);
    font-weight: 600;
    height: 8dvh;
    width: 30dvh;
    border: 1px solid hsl(142, 71%, 45%);
    border-radius: 1dvh;
    transition: background-color 0.9s, color 0.9s;
  }
  .hero .hero-button .consulta-button:hover {
    background-color: hsl(142, 71%, 45%);
    color: hsl(220, 13%, 95%);
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    max-width: 1240px;
    margin: auto;
    margin-top: 5dvh;
  }
  .about .about-img,
  .about .about-text {
    flex: 1;
  }
  .about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2dvh;
  }
}
@media (width >= 1024px) {
  .treinamento {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .treinamento .treinamento-descricao {
    margin-bottom: 4dvh;
    margin-top: 4dvh;
  }
  .treinamento .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5dvh !important;
  }
}
@media (width >= 1024px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2dvh !important;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
  }
}
@media (width >= 1024px) {
  .info {
    margin-bottom: 5dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 95%;
    height: 13dvh;
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    padding: 2dvh;
    border-radius: 2dvh;
  }
  .info .white {
    color: hsl(220, 13%, 95%);
    font-size: 2rem;
  }
  .info .gray {
    color: hsl(220, 9%, 46%);
    font-size: 1.3rem;
    font-family: "Poppins", serif;
    margin-top: 2dvh;
  }
}
@media (width >= 1024px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
}/*# sourceMappingURL=responsivity.css.map */