@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media (width >= 1024px) {
  .hero .hero-info {
    display: flex;
    flex-direction: row !important;
  }
  .hero .hero-button {
    display: block !important;
  }
  .hero .hero-button .tratamento-btn {
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    color: hsl(220, 13%, 95%);
    width: 40dvh;
    height: 8dvh;
    border: none;
    border-radius: 1dvh;
    transition: transform 0.9s;
    margin-right: 2dvh;
  }
  .hero .hero-button .tratamento-btn:hover {
    transform: scale(1.1);
  }
  .hero .hero-button .consulta-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(142, 71%, 45%);
    font-weight: 600;
    height: 8dvh;
    width: 30dvh;
    border: 1px solid hsl(142, 71%, 45%);
    border-radius: 1dvh;
    transition: background-color 0.9s, color 0.9s;
  }
  .hero .hero-button .consulta-button:hover {
    background-color: hsl(142, 71%, 45%);
    color: hsl(220, 13%, 95%);
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    max-width: 1240px;
    margin: auto;
    margin-top: 5dvh;
  }
  .about .about-img,
  .about .about-text {
    flex: 1;
  }
  .about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2dvh;
  }
}
@media (width >= 1024px) {
  .treinamento {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .treinamento .treinamento-descricao {
    margin-bottom: 4dvh;
    margin-top: 4dvh;
  }
  .treinamento .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5dvh !important;
  }
}
@media (width >= 1024px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2dvh !important;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
  }
  .testimonials .testimonials-grid .quilos {
    width: 50%;
  }
}
@media (width >= 1024px) {
  .info {
    margin-bottom: 5dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 95%;
    height: 13dvh;
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    padding: 2dvh;
    border-radius: 2dvh;
  }
  .info .white {
    color: hsl(220, 13%, 95%);
    font-size: 2rem;
  }
  .info .gray {
    color: hsl(220, 9%, 46%);
    font-size: 1.3rem;
    font-family: "Poppins", serif !important;
    margin-top: 2dvh;
  }
}
@media (width >= 1024px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
}
footer {
  background-color: hsl(217, 91%, 20%);
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1dvh;
}
footer .footer-container .footer-info .logo {
  width: 12dvh;
  height: 12dvh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
footer .footer-container .footer-info .social-media {
  color: hsl(0, 0%, 100%);
  margin: 2dvh;
}
footer .footer-container .footer-info .redes button {
  margin-right: 2dvh;
  background-color: hsl(25, 95%, 53%);
  border: none;
  border-radius: 1dvh;
  width: 7dvh;
  height: 7dvh;
  transition: background-color 0.9s;
}
footer .footer-container .footer-info .redes button .face,
footer .footer-container .footer-info .redes button .insta,
footer .footer-container .footer-info .redes button .youtube {
  width: 4dvh;
  height: 4dvh;
}
footer .footer-container .footer-info .redes button:hover {
  background-color: hsl(142, 71%, 45%);
}
footer .footer-container .contato p {
  color: hsl(220, 13%, 95%);
  font-weight: 600;
  font-size: 1.3rem;
}
footer .footer-container .contato .whatsapp,
footer .footer-container .contato .email,
footer .footer-container .contato .location {
  display: flex;
  margin-top: 2dvh;
}
footer .footer-container .contato .whatsapp img,
footer .footer-container .contato .email img,
footer .footer-container .contato .location img {
  width: 5dvh;
  height: 5dvh;
  margin-right: 2dvh;
}
footer .footer-container .horarios p {
  color: hsl(220, 13%, 95%);
  font-weight: 600;
  font-size: 1.3rem;
}
footer .footer-container .horarios .clock {
  display: flex;
  margin-top: 2dvh;
}
footer .footer-container .horarios .clock img {
  width: 5dvh;
  height: 5dvh;
  margin-right: 2dvh;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media (width >= 1024px) {
  .hero .hero-info {
    display: flex;
    flex-direction: row !important;
  }
  .hero .hero-button {
    display: block !important;
  }
  .hero .hero-button .tratamento-btn {
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    color: hsl(220, 13%, 95%);
    width: 40dvh;
    height: 8dvh;
    border: none;
    border-radius: 1dvh;
    transition: transform 0.9s;
    margin-right: 2dvh;
  }
  .hero .hero-button .tratamento-btn:hover {
    transform: scale(1.1);
  }
  .hero .hero-button .consulta-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(142, 71%, 45%);
    font-weight: 600;
    height: 8dvh;
    width: 30dvh;
    border: 1px solid hsl(142, 71%, 45%);
    border-radius: 1dvh;
    transition: background-color 0.9s, color 0.9s;
  }
  .hero .hero-button .consulta-button:hover {
    background-color: hsl(142, 71%, 45%);
    color: hsl(220, 13%, 95%);
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    max-width: 1240px;
    margin: auto;
    margin-top: 5dvh;
  }
  .about .about-img,
  .about .about-text {
    flex: 1;
  }
  .about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2dvh;
  }
}
@media (width >= 1024px) {
  .treinamento {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .treinamento .treinamento-descricao {
    margin-bottom: 4dvh;
    margin-top: 4dvh;
  }
  .treinamento .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5dvh !important;
  }
}
@media (width >= 1024px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2dvh !important;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
  }
  .testimonials .testimonials-grid .quilos {
    width: 50%;
  }
}
@media (width >= 1024px) {
  .info {
    margin-bottom: 5dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 95%;
    height: 13dvh;
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    padding: 2dvh;
    border-radius: 2dvh;
  }
  .info .white {
    color: hsl(220, 13%, 95%);
    font-size: 2rem;
  }
  .info .gray {
    color: hsl(220, 9%, 46%);
    font-size: 1.3rem;
    font-family: "Poppins", serif !important;
    margin-top: 2dvh;
  }
}
@media (width >= 1024px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
}
header {
  background-color: hsl(0, 0%, 100%);
  position: relative;
}
header nav {
  display: flex;
  max-width: 1240px;
  margin: auto;
  justify-content: space-between;
  padding: 1dvh;
}
header nav .logo {
  width: 12dvh;
  height: 12dvh;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2dvh;
}
header nav .logo img {
  border-radius: 50%;
}
header nav .nav-list {
  display: flex;
  gap: 2dvh;
  list-style: none;
  padding: 2dvh;
}
header nav .nav-list .nav-link {
  color: hsl(220, 13%, 18%);
  transition: color 0.9s;
}
header nav .nav-list .nav-link:hover {
  color: hsl(142, 71%, 45%);
}
header nav .nav-icons button {
  border: none;
  border-radius: 50%;
  width: 7dvh;
  height: 7dvh;
  transition: background-color 0.9s;
}
header nav .nav-icons button img {
  width: 3dvh;
  height: 3dvh;
}
header nav .nav-icons button:hover {
  background-color: hsl(142, 71%, 45%);
}
header nav #mobile_btn {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
header #mobile_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 1rem;
  z-index: 33;
}
header #mobile_menu.active {
  display: flex;
}
header #mobile_menu #mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  text-align: center;
}
header #mobile_menu .nav_item {
  font-size: 1rem;
}
header #mobile_menu .nav_item a {
  text-decoration: none;
}
header .banner {
  height: 70dvh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
header .hero {
  position: absolute;
  top: 25%;
  left: 30%;
  justify-content: center;
  text-align: center;
}
header .hero h1 {
  color: hsl(0, 0%, 100%);
}
header .hero .hero-info {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
  margin-bottom: 1dvh;
}
header .hero .hero-info .clients {
  margin-top: 1dvh;
}
header .hero .hero-info .clients .number-client {
  color: hsl(142, 71%, 45%);
  font-size: 1.5rem;
  font-weight: 600;
}
header .hero .hero-info .clients .clientes {
  color: hsl(220, 9%, 46%);
  font-size: 1.3rem;
  font-family: "Poppins", serif;
}
header .hero .hero-info .years {
  margin-top: 1dvh;
}
header .hero .hero-info .years .number-years {
  color: hsl(25, 95%, 53%);
  font-size: 1.5rem;
  font-weight: 600;
}
header .hero .hero-info .years .anos {
  color: hsl(220, 9%, 46%);
  font-size: 1.3rem;
  font-family: "Poppins", serif;
}
header .hero .hero-info .taxa {
  margin-top: 1dvh;
}
header .hero .hero-info .taxa .porcentagem {
  color: hsl(217, 91%, 20%);
  font-size: 1.5rem;
  font-weight: 600;
}
header .hero .hero-info .taxa .taxa-sucesso {
  color: hsl(220, 9%, 46%);
  font-size: 1.3rem;
  font-family: "Poppins", serif;
}
header .hero .hero-button {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media (width >= 1024px) {
  .hero .hero-info {
    display: flex;
    flex-direction: row !important;
  }
  .hero .hero-button {
    display: block !important;
  }
  .hero .hero-button .tratamento-btn {
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    color: hsl(220, 13%, 95%);
    width: 40dvh;
    height: 8dvh;
    border: none;
    border-radius: 1dvh;
    transition: transform 0.9s;
    margin-right: 2dvh;
  }
  .hero .hero-button .tratamento-btn:hover {
    transform: scale(1.1);
  }
  .hero .hero-button .consulta-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(142, 71%, 45%);
    font-weight: 600;
    height: 8dvh;
    width: 30dvh;
    border: 1px solid hsl(142, 71%, 45%);
    border-radius: 1dvh;
    transition: background-color 0.9s, color 0.9s;
  }
  .hero .hero-button .consulta-button:hover {
    background-color: hsl(142, 71%, 45%);
    color: hsl(220, 13%, 95%);
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    max-width: 1240px;
    margin: auto;
    margin-top: 5dvh;
  }
  .about .about-img,
  .about .about-text {
    flex: 1;
  }
  .about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2dvh;
  }
}
@media (width >= 1024px) {
  .treinamento {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .treinamento .treinamento-descricao {
    margin-bottom: 4dvh;
    margin-top: 4dvh;
  }
  .treinamento .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5dvh !important;
  }
}
@media (width >= 1024px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2dvh !important;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
  }
  .testimonials .testimonials-grid .quilos {
    width: 50%;
  }
}
@media (width >= 1024px) {
  .info {
    margin-bottom: 5dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 95%;
    height: 13dvh;
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    padding: 2dvh;
    border-radius: 2dvh;
  }
  .info .white {
    color: hsl(220, 13%, 95%);
    font-size: 2rem;
  }
  .info .gray {
    color: hsl(220, 9%, 46%);
    font-size: 1.3rem;
    font-family: "Poppins", serif !important;
    margin-top: 2dvh;
  }
}
@media (width >= 1024px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
}
main {
  background-color: hsl(0, 0%, 100%);
  padding: 1dvh 1dvh;
}
main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .about .about-text {
  margin-left: 2dvh;
  margin-bottom: 2dvh;
}
main .about .about-text h2 {
  color: hsl(217, 91%, 20%);
}
main .about .about-text span {
  color: hsl(142, 71%, 45%);
}
main .about .about-text p {
  color: hsl(220, 9%, 46%);
  line-height: 2rem;
}
main .about .grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3dvh;
}
main .about .grid .card {
  display: flex;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  height: 10dvh;
  border-radius: 1dvh 1dvh 1dvh 1dvh;
  margin-top: 1.5dvh;
}
main .about .grid .card .card-img {
  height: 70%;
  margin-top: 1dvh;
  margin-left: 1dvh;
}
main .about .grid .card .card-img img {
  width: 5dvh;
  height: 5dvh;
  -o-object-fit: contain;
     object-fit: contain;
  color: hsl(0, 0%, 100%);
}
main .about .grid .card .card-info {
  margin-left: 2dvh;
}
main .about .grid .card .card-info .card-clientes p,
main .about .grid .card .card-info .card-award p {
  color: hsl(220, 13%, 18%);
  font-weight: 600;
}
main .about .grid .card .card-info .card-clientes span,
main .about .grid .card .card-info .card-award span {
  color: hsl(220, 9%, 46%);
  font-family: "Poppins", serif;
}
main .about .objectives {
  background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
  margin-top: 7dvh;
  border-radius: 2dvh;
}
main .about .objectives p {
  color: hsl(0, 0%, 100%);
  padding: 2dvh 2dvh;
}
main .about .objectives span {
  font-family: "Poppins", serif;
  color: hsl(220, 13%, 95%);
  margin-left: 2dvh;
}
main .treinamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .treinamento h2 {
  color: hsl(217, 91%, 20%);
  font-weight: 600;
}
main .treinamento span {
  color: hsl(142, 71%, 45%);
  font-weight: 600;
}
main .treinamento p {
  color: hsl(220, 9%, 46%);
  line-height: 2rem;
}
main .treinamento .grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
main .treinamento .grid-container .card {
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  transition: transform 0.9s;
  margin-top: 1dvh;
}
main .treinamento .grid-container .card .card-image img {
  filter: brightness(50%);
  margin-bottom: 3dvh;
  transition: transform 0.9s;
}
main .treinamento .grid-container .card .card-image img:hover {
  transform: scale(1.1);
}
main .treinamento .grid-container .card .card-body {
  margin-top: 1dvh;
}
main .treinamento .grid-container .card .card-body .card-title {
  color: hsl(217, 91%, 20%);
  font-family: "Poppins", serif;
  font-size: 1.3rem;
  font-weight: 600;
  transition: color 0.9s;
}
main .treinamento .grid-container .card .card-body .card-title:hover {
  color: hsl(142, 71%, 45%);
}
main .treinamento .grid-container .card .card-body .card-description {
  line-height: normal;
}
main .treinamento .grid-container .card .card-body .card-clock {
  display: flex;
  justify-content: start;
  margin-left: 2dvh;
  margin-top: 1dvh;
}
main .treinamento .grid-container .card .card-body .card-clock img {
  width: 5dvh;
  height: 5dvh;
  margin-right: 1dvh;
}
main .treinamento .grid-container .card .card-body .card-people {
  display: flex;
  justify-content: start;
  margin-left: 2dvh;
  margin-top: 1dvh;
}
main .treinamento .grid-container .card .card-body .card-people img {
  width: 5dvh;
  height: 5dvh;
  margin-right: 1dvh;
}
main .treinamento .grid-container .card .card-body .benefits {
  color: hsl(217, 91%, 20%);
}
main .treinamento .grid-container .card .card-body div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2dvh;
  margin-left: 1dvh;
}
main .treinamento .grid-container .card .card-body div .borda {
  width: 90% !important;
  height: 5dvh;
  border: 1px solid hsl(25, 95%, 53%);
  margin-right: 1dvh;
  border-radius: 2dvh;
}
main .treinamento .grid-container .card .card-body div .borda p {
  color: hsl(220, 13%, 18%);
}
main .treinamento .grid-container .card:hover {
  transform: scale(1.1);
}
main .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1dvh;
}
main .testimonials h2 {
  color: hsl(217, 91%, 20%);
  font-weight: 600;
}
main .testimonials span {
  color: hsl(142, 71%, 45%);
  font-weight: 600;
}
main .testimonials p {
  color: hsl(220, 9%, 46%);
  line-height: 2rem;
}
main .testimonials .testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
}
main .testimonials .testimonials-grid .testimonials-card {
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  background-color: hsl(0, 0%, 100%);
  margin-top: 1dvh;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-img {
  display: flex;
  justify-content: end;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-img img {
  width: 8dvh;
  height: 8dvh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2dvh;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body {
  display: flex;
  flex-direction: column;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body .quilos {
  width: 50%;
  height: 3dvh;
  border: 1px solid hsl(142, 71%, 45%);
  background: hsl(142, 71%, 65%);
  margin-left: 2dvh;
  border-radius: 2dvh;
  margin-top: 1dvh;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body .quilos .testimonial-weight {
  color: hsl(0, 0%, 100%);
  width: 100%;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body .alunos {
  display: flex;
  flex-direction: row;
  margin-top: 2dvh;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body .alunos .aluno-nome {
  width: 7dvh;
  height: 7dvh;
  border-radius: 50%;
  background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
  margin-right: 2dvh;
}
main .testimonials .testimonials-grid .testimonials-card .testimonials-body .alunos .aluno-nome .inicial {
  color: hsl(0, 0%, 100%);
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
main .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1dvh;
  background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
  border-radius: 2dvh;
  margin-top: 1dvh;
}
main .info .white {
  color: hsl(220, 13%, 95%);
}
main .info .gray {
  color: hsl(220, 9%, 46%);
  font-family: "Poppins", serif !important;
  margin-top: 2dvh;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media (width >= 1024px) {
  .hero .hero-info {
    display: flex;
    flex-direction: row !important;
  }
  .hero .hero-button {
    display: block !important;
  }
  .hero .hero-button .tratamento-btn {
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    color: hsl(220, 13%, 95%);
    width: 40dvh;
    height: 8dvh;
    border: none;
    border-radius: 1dvh;
    transition: transform 0.9s;
    margin-right: 2dvh;
  }
  .hero .hero-button .tratamento-btn:hover {
    transform: scale(1.1);
  }
  .hero .hero-button .consulta-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(142, 71%, 45%);
    font-weight: 600;
    height: 8dvh;
    width: 30dvh;
    border: 1px solid hsl(142, 71%, 45%);
    border-radius: 1dvh;
    transition: background-color 0.9s, color 0.9s;
  }
  .hero .hero-button .consulta-button:hover {
    background-color: hsl(142, 71%, 45%);
    color: hsl(220, 13%, 95%);
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    max-width: 1240px;
    margin: auto;
    margin-top: 5dvh;
  }
  .about .about-img,
  .about .about-text {
    flex: 1;
  }
  .about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2dvh;
  }
}
@media (width >= 1024px) {
  .treinamento {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .treinamento .treinamento-descricao {
    margin-bottom: 4dvh;
    margin-top: 4dvh;
  }
  .treinamento .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5dvh !important;
  }
}
@media (width >= 1024px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
  .testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2dvh !important;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
  }
  .testimonials .testimonials-grid .quilos {
    width: 50%;
  }
}
@media (width >= 1024px) {
  .info {
    margin-bottom: 5dvh;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 95%;
    height: 13dvh;
    background: linear-gradient(135deg, hsl(142, 71%, 45%), hsl(25, 95%, 53%));
    padding: 2dvh;
    border-radius: 2dvh;
  }
  .info .white {
    color: hsl(220, 13%, 95%);
    font-size: 2rem;
  }
  .info .gray {
    color: hsl(220, 9%, 46%);
    font-size: 1.3rem;
    font-family: "Poppins", serif !important;
    margin-top: 2dvh;
  }
}
@media (width >= 1024px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
}

body {
  height: 100dvh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  outline: none;
}

h1, h2, h3 {
  font-family: "Roboto", serif, Arial;
  font-size: 3rem;
}

p {
  font-family: "Poppins", serif, Arial;
  font-size: 1rem;
}

a {
  cursor: pointer;
  font-family: "Poppins", serif, Arial;
  font-size: 1rem;
}

i {
  cursor: pointer;
  font-size: 1.3rem;
}

button {
  cursor: pointer;
  font-family: "Poppins", serif, Arial;
  font-size: 1rem;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (width <= 1024px) {
  h1, h2, h3 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */